# İstatistik

In [1]:
import numpy as np

In [2]:
populasyon = np.random.randint(0,80 , 10000)

In [3]:
populasyon

array([ 8, 19, 41, ..., 15, 44, 60])

örneklem çekme

In [8]:
np.random.seed(115)
orneklem = np.random.choice(a = populasyon, size = 100)
orneklem[0:10]

array([21, 14, 62, 10, 12, 39, 53,  3, 75, 68])

In [9]:
orneklem.mean()

39.47

In [10]:
populasyon.mean()

39.5802

# orneklem dağılım

In [11]:
np.random.seed(10)
orneklem1 = np.random.choice(a = populasyon, size = 100)
orneklem2 = np.random.choice(a = populasyon, size = 100)
orneklem3 = np.random.choice(a = populasyon, size = 100)
orneklem4 = np.random.choice(a = populasyon, size = 100)
orneklem5 = np.random.choice(a = populasyon, size = 100)
orneklem6 = np.random.choice(a = populasyon, size = 100)
orneklem7 = np.random.choice(a = populasyon, size = 100)
orneklem8 = np.random.choice(a = populasyon, size = 100)
orneklem9 = np.random.choice(a = populasyon, size = 100)
orneklem10 = np.random.choice(a = populasyon, size = 100)

In [12]:
(orneklem1.mean() + orneklem2.mean() + orneklem3.mean() + orneklem4.mean() + orneklem5.mean() 
+ orneklem6.mean() + orneklem7.mean() + orneklem8.mean() + orneklem9.mean() + orneklem10.mean() )  / 10

39.95399999999999

# betimsel istatistik

In [13]:
import seaborn as sns

In [14]:
tips = sns.load_dataset("tips")

In [15]:
df = tips.copy()

In [16]:
df.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

In [17]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [18]:
!pip install researchpy

Collecting researchpy
  Downloading researchpy-0.3.2-py3-none-any.whl (15 kB)
Requirement already satisfied: numpy in c:\anaconda\lib\site-packages (from researchpy) (1.21.5)
Requirement already satisfied: statsmodels in c:\anaconda\lib\site-packages (from researchpy) (0.13.2)
Requirement already satisfied: patsy in c:\anaconda\lib\site-packages (from researchpy) (0.5.2)
Requirement already satisfied: scipy in c:\anaconda\lib\site-packages (from researchpy) (1.7.3)
Requirement already satisfied: pandas in c:\anaconda\lib\site-packages (from researchpy) (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\anaconda\lib\site-packages (from pandas->researchpy) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\anaconda\lib\site-packages (from pandas->researchpy) (2021.3)
Requirement already satisfied: six>=1.5 in c:\anaconda\lib\site-packages (from python-dateutil>=2.8.1->pandas->researchpy) (1.16.0)
Requirement already satisfied: packaging>=21.3 in c:\anaconda\lib\site-packages (from statsmodels->researchpy) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\anaconda\lib\site-packages (from packaging>=21.3->statsmodels->researchpy) (3.0.4)
Installing collected packages: researchpy
Successfully installed researchpy-0.3.2

In [19]:
import researchpy as rp

In [20]:
rp.summary_cont(df[["total_bill","tip","size"]])

     Variable      N     Mean      SD      SE  95% Conf.  Interval
0  total_bill  244.0  19.7859  8.9024  0.5699    18.6633   20.9086
1         tip  244.0   2.9983  1.3836  0.0886     2.8238    3.1728
2        size  244.0   2.5697  0.9511  0.0609     2.4497    2.6896

In [21]:
rp.summary_cat(df[["sex","smoker","day"]])

  Variable Outcome  Count  Percent
0      sex    Male    157    64.34
1           Female     87    35.66
2   smoker      No    151    61.89
3              Yes     93    38.11
4      day     Sat     87    35.66
5              Sun     76    31.15
6             Thur     62    25.41
7              Fri     19     7.79

In [22]:
df[["tip","total_bill"]].cov()

                 tip  total_bill
tip         1.914455    8.323502
total_bill  8.323502   79.252939

In [24]:
df[["tip","total_bill"]].corr()

                 tip  total_bill
tip         1.000000    0.675734
total_bill  0.675734    1.000000

# İŞ UYGULAMASI Açık artırma ortalama

In [2]:
import numpy as np
fiyatlar = np.random.randint(10,110,1000)

In [3]:
fiyatlar

array([ 60,  27,  63,  62, 106,  22, 109,  13,  56,  39,  56,  58,  25,
       104,  69,  83,  12,  11,  17,  22,  45,  47,  95, 104,  51,  51,
        48,  99, 104,  96,  22,  60,  26,  52,  23,  76, 104,  27,  72,
        93,  77, 105,  45,  12,  98,  33,  55,  77, 108,  43,  21,  42,
        96,  33,  69, 103,  78,  48,  91,  69,  39,  89,  13,  14,  22,
        20,  76,  81,  78,  40,  88,  49,  23,  19, 106,  46,  79, 105,
        52,  21,  81,  11,  60,  26,  87,  62,  58,  47, 106,  54,  21,
        24,  53, 105,  16,  84,  74,  19,  79,  74, 109,  96,  33,  28,
        67,  99,  69,  78,  91,  65,  68, 109,  46,  70,  32, 106,  55,
        75,  34, 108,  38,  96,  48,  24,  53,  55,  49,  68,  58,  52,
        96,  63,  76,  56,  42, 100,  42,  11,  45,  39,  91,  65,  19,
        20,  20,  67,  42,  39,  58,  13,  81,  48,  28,  62,  26,  40,
        62,  97,  75,  10,  95,  61,  71,  85,  31,  77,  39,  36,  14,
        91,  62,  72,  92,  76,  56,  59, 109,  79,  50,  61,  99,  36,
        71,  33,  62,  56,  80,  84,  30,  36,  89,  96,  31, 100, 108,
        10,  22,  67,  68,  86,  31,  11,  14,  47,  31,  28, 108,  10,
        16,  12,  61,  37,  35, 100,  48,  57,  90,  66,  19,  41,  97,
        18,  35,  22,  85,  69,  14,  17,  40,  73,  36,  50,  30,  23,
        64,  77,  22,  77,  42,  33,  77,  87,  24,  37,  29,  38, 108,
        21,  65,  64,  60,  15,  38,  22,  68, 100,  11,  76,  58,  56,
        99,  85,  93,  45,  99,  67,  48,  21,  49,  26, 102,  51,  13,
       104,  94,  40,  17, 105,  56,  74,  99,  61,  33,  23,  75,  60,
        22,  44, 108,  72,  23,  46,  50,  66,  27,  83,  59,  22,  14,
        46,  77,  74,  38,  82,  65,  52,  27,  49,  28,  13,  36,  95,
        77,  46,  15,  79,  69,  37,  77,  31,  70,  26,  65,  45,  18,
        86,  52,  18, 105, 109,  21,  94,  88,  69, 101,  40,  54,  54,
        29,  41,  31,  72,  47,  23,  80,  87,  32,  13,  96,  13,  15,
        58,  94,  98,  98,  15,  44,  59,  20,  22,  24,  57,  72,  59,
        82,  48,  35,  85,  36,  27, 109,  82,  16,  82,  90,  89,  53,
        42,  25,  88,  57,  64,  41,  57,  65,  48,  97,  12,  62,  44,
        40,  60,  98,  55,  50,  97,  30,  12,  98,  83,  91,  81,  19,
        13,  21,  55, 100,  59,  81, 109,  91,  31,  61,  46,  95, 108,
        51, 101,  16,  71,  90,  61,  37,  65,  86,  89,  34,  35,  61,
        32,  96,  80,  73,  77,  70,  85,  39,  63,  64,  28,  77,  10,
        48, 106,  40,  42,  26,  93,  47,  56,  85,  27,  53, 100,  55,
        16,  58,  32,  39,  50,  62,  94,  75,  51,  79,  70,  73, 102,
        49,  25,  18,  59,  87,  27,  64,  26, 100,  52,  71,  47,  32,
        89,  22, 107,  14,  74,  37,  90,  65,  16,  76,  62,  21,  73,
       107,  28,  68,  36,  49,  12,  49,  96,  85,  61,  53,  95,  26,
        63,  98,  52,  64,  17,  20,  56,  41, 102,  74,  45,  10,  32,
       108,  18,  97,  83,  32,  54,  37,  55,  65,  99,  85,  80, 103,
        72, 108, 107, 109,  38, 108, 104,  35,  27,  31,  83,  72,  58,
        96, 107,  45,  24, 105,  88,  70,  20,  55,  10,  97,  13,  31,
        84,  28,  27,  30, 103,  34,  13,  96,  77, 109,  38,  69,  95,
        77,  78,  14,  91,  17, 102,  56,  79, 103,  75,  42,  56,  33,
       102,  32,  26, 108,  81,  37,  50,  26,  47,  87,  30,  37,  52,
        69,  84,  83,  30,  95,  37,  12,  60,  75,  48,  11,  90,  10,
        99,  49,  64,  16,  95,  99,  69,  55,  41,  72,  41,  49,  12,
       109,  93,  24,  25,  35,  37,  47,  69,  63,  49,  15, 105,  62,
        44,  45,  15,  29,  57, 105,  26,  31,  70,  99,  60,  93, 105,
        76, 107,  48,  47,  68,  78,  38,  71, 104,  14,  35,  22,  86,
        93,  21,  61,  82,  63,  34,  52,  79, 107,  39,  28, 109,  17,
        66,  46,  70,  40,  18,  41,  48,  15,  69, 105,  81,  98,  11,
       100,  60,  42,  28,  23,  43,  46,  17,  87,  89,  96,  25, 104,
        92,  96,  71,  99, 107,  32, 109,  95,  16,  20,  79,  70,  43,
        51,  59,  96,  11,  16,  68,  79,  71,  16,  46,  76,  85,  58,
        79,  12, 109,  33,  23,  14,  25, 105,  54,  81,  91,  67, 104,
       107,  42,  29,  31,  57,  32,  38,  32,  34,  53,  11, 102,  84,
        73,  83,  54,  40,  80,  77,  66,  33,  29,  55,  29,  71, 107,
        64,  33,  10,  77,  73,  88,  15,  10,  59,  18,  27, 109,  99,
        38,  83,  89,  90,  95,  43,  73,  94, 106,  17,  65,  65,  33,
        45,  95,  28,  11,  21,  34,  12,  35, 105,  31,  54,  11,  50,
       101,  79,  44,  23,  12,  58,  50,  79,  23,  23,  92,  14,  10,
        70,  77,  71, 104, 105,  34,  37,  70,  87,  20,  55,  59,  32,
        22,  55,  64,  67,  24,  77,  26,  36,  58,  51,  66,  32,  77,
        27,  44,  33,  93,  10,  25,  95,  94,  88,  91,  54,  37,  87,
        72,  62,  35, 104,  27,  26,  13,  60,  57,  24,  79,  67,  73,
        21,  22,  81,  93,  40, 109, 103,  26,  73,  22,  61,  13,  13,
        66,  61,  98,  38,  10,  75,  98,  14,  74,  22,  43,  43,  45,
        48,  67,  64,  50, 109,  73,  32,  71,  45,  95,  74,  63,  54,
        52,  20,  93,  90,  86,  30,  98,  97,  70,  24,  66,  50,  85,
        24, 101,  53, 105,  61,  38,  65,  15,  13,  64,  12,  91,  76,
        23,  37,  15,  87,  54,  25,  57,  66,  68,  26,  72,  21,  25,
        56,  46,  67,  98,  25,  66,  97, 104,  97, 102,  37,  83,  48,
        39,  71,  71, 109,  30,  42,  61,  71,  44,  79,  24,  89,  60,
        98,  73,  22,  99,  68,  63,  82,  83,  46,  67,  35,  36, 106,
        80,  24,  43,  77,  62,  95,  98,  53,  47,  70,  95,  97])

In [4]:
fiyatlar.mean()

58.145

In [5]:
import statsmodels.stats.api as sms

In [6]:
sms.DescrStatsW(fiyatlar).tconfint_mean()

(56.33925477174395, 59.950745228256054)